*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background-color: aliceblue;
}
.line{
    background-color: #0b2b70;
    width: 25rem;
    height: 4px;
    border-radius: 20px;
}
.ctn{
    
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    left: auto;
   
    font-size: 20px;
    text-align: left;
    transition: .5s;
    
}
.ctn:hover{
    transform: 1.2;
    font-size: 22px;

}

/* nav */


/* header */
.header{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1030)'%3e%3c/rect%3e%3cpath d='M1440 0L1156.77 0L1440 183.31z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1156.77 0L1440 183.31L1440 347.71000000000004L734.87 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M734.87 0L1440 347.71000000000004L1440 405.99L667.32 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M667.32 0L1440 405.99L1440 473.85L633.34 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L505.74 560L0 287.45z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 287.45L505.74 560L889.06 560L0 226.95z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 226.95L889.06 560L1111.08 560L0 109.42999999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 109.43L1111.08 560L1310.59 560L0 59.10000000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1030'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(4%2c 35%2c 75%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-color: #22418A; */
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 60px 30px 20px 0px;
    display: flex;
    height: 96vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.header .photos{
    width: 48%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.header-img{
    width: 100%;
}
.header-img  img{
    width: 100%;
}
.header .content{

    width: 45%;
}
.header .content h1{

margin: 10px 10px ;
padding: 10px 10px 10px 0;
color: aliceblue;
font-weight: 600;
text-transform: capitalize;
font-size: 60px;
right: 0;


}
.header .content p{
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    color: aliceblue;
}
/* Founder */

.title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-style: inherit;
    margin: 20px 0;
    color: #0b2b70;
}
.founders{
    padding-bottom: 5px;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;

}
.card {
    position: relative;
    padding: 10px 0 3px;
    gap: 5px;
    text-align: center;
    max-width:400px ;
    border-radius: 5px;
    border:2px solid  rgba(176, 178, 180, 0.308);
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.137);
    overflow: hidden;
    max-height: 550px;
    cursor: pointer;
   

}
.card img{
    width: 95%;
    border-radius: 5px;
}
.card .text p{
    font-size: 15px;
    padding: 0 5px;
}
.card .text h3{
    font-size: 30px;
   
    color: #0b2b70;
}
.information{
    color:black;
    padding: 3px;
    width: 100%;
    height: 100%;
    background-color:rgba(17, 7, 7, 0.815);
    position: absolute;
    text-overflow:hidden ;
    visibility: hidden;
    color: aliceblue;
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;

}
/* .visible{
    display: flex;
} */
/*.card .information{
   
    -webkit-transition: all 0.7s linear;
-moz-transition: all 0.7s linear;
-ms-transition: all 0.7s linear;
-o-transition: all 0.7s linear;
transition: all 0.7s linear;
    background-color:rgba(17, 7, 7, 0.815);
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    color:black;
    padding: 3px;
    width: 100%;
    height: 100%;
    text-overflow:hidden ;
    visibility: hidden;
    color: aliceblue;
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    
} */
.card  .information h4{
    
    font-size: 25px;
    margin: auto;
}
.card .information h5{
    font-size: 20px;
}
.information ul{
    list-style: circle;
    color: aliceblue;
}
.card  .information li{
   
    font-size: 16px;
    margin: auto;
}
.card:hover{
    transform:scale(1.05);
    border-radius: 10px;
    transition: all .7s ease-in-out;
}
.card:hover> .information{
    visibility:visible ;
    opacity: 1;
}
.card:hover> .information h4{
    margin-top: 10px;
    margin-bottom: 10px;
    visibility:visible ;
    opacity: 1;
}  
.visible h4{
    margin-top: 10px;
    margin-bottom: 10px;
    visibility:visible ;
    opacity: 1;
}  

 .visible{
    transform:scale(1.05);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 700px) { 
    body{
        box-sizing: border-box;
    }
   /* header */
.header{
    background-color: #22418A;
    padding:0;
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content:center;
    flex-direction: column;
    box-sizing: content-box;
}
.header .photos{
    align-items: flex-start;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 ;
    box-sizing: border-box;
}
.header-img{
    width: 100%;
}
.header-img  img{
    width: 100%;
}
.header .content{
    width: 100%;
}
.header .content h1{
display: none;
}
.header .content p{
    margin-top: 15px;
    padding: 10px;
    font-size:0.8rem;
    color: aliceblue;
}
/* Founder */

.title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-style: inherit;
    margin: 20px 0;
    color: #0b2b70;
}
.founders{
    padding-bottom: 5px;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   

}
.card {
    position: relative;
    padding: 10px 0 3px;
    gap: 5px;
    text-align: center;
    width:100% ;
    border-radius: 5px;
    border:2px solid  rgba(176, 178, 180, 0.308);
    box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.137);
    overflow: hidden;
    max-height: 550px;
    cursor: pointer;
   margin: 4%;

}
.card img{
    width: 95%;
    border-radius: 5px;
}
.card .text p{
    font-size: 15px;
    padding: 0 5px;
}
.card .text h3{
    font-size: 30px;
   
    color: #0b2b70;
}
.card .information{
    /* transition: all .7s ease-in-out; */
    -webkit-transition: all 0.7s linear;
-moz-transition: all 0.7s linear;
-ms-transition: all 0.7s linear;
-o-transition: all 0.7s linear;
transition: all 0.7s linear;
    background-color:rgba(17, 7, 7, 0.815);
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    color:black;
    padding: 3px;
    width: 100%;
    height: 100%;
    text-overflow:hidden ;
    visibility: hidden;
    color: aliceblue;
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    
}
.card  .information h4{
    
    font-size: 25px;
    margin: auto;
}
.card .information h5{
    font-size: 20px;
}
.information ul{
    list-style: circle;
    color: aliceblue;
}
.card  .information li{
   
    font-size: 16px;
    margin: auto;
}
.card:hover{
    transform:scale(1.05);
    border-radius: 10px;
}
.card:hover> .information{
    visibility:visible ;
    opacity: 1;
}
.card:hover> .information h4{
    margin-top: 10px;
    margin-bottom: 10px;
    visibility:visible ;
    opacity: 1;
}
}