@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;800&family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 
 
}
.margin{
  width: 100%;
  height: 3px;
  background-color: #0b2b70;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: aliceblue;
}
.line{
  background-color: black;
  width: 400px;
  height: 3px;
}
.ctn{
  
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
  left: auto;
 
  font-size: 20px;
  text-align: left;
  transition: .5s;
  
}
.ctn:hover{
  transform: scale(1.04);
  font-size: 22px;

}


/* nav */
nav{
  z-index: 2;
  width: 100%;
   position: fixed; 
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  max-height: 8vh;
  border-bottom: 3px solid  #0b2b70;
}

nav h2{

  margin:auto 0 ;
  padding-left: 1.5%;
  width: 50%;
  color:#0b2b70;
  font-style: italic;
  font-size: 23px;
  
}
.mobile-button{
  display: none;
}

.nav-mobile{
  display: none;
}

.nav-menu  a{
  text-decoration: none;
  font-size: 15px;
  color: #0b2b70;
  font-weight: bold;
  transition: .5s;
}
.nav-menu  a:hover{

  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
  transform: 1.1;
}

.activo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #061946;
  width: auto;
  height: 22px;
  padding: 4px 15px;
  font-size: 16px;
  text-align: center;
  border-radius:10px ;

}
.activo a{
  color: white;
}

.nav-menu{
  width: 45%;
  height: 60px;
}

.nav-menu ul{
  display: flex;
  list-style: none;
 justify-content: space-around;
 padding: 20px;
 height: 100%;
}

.nav-menu .desactivado a{
  text-decoration: none;
  font-size: 15px;
  color: #0b2b70;
  font-weight: bold;
  transition: .5s;
}
.nav-menu .desactivado a:hover{

  color: black;
  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
  transform: 1.1;
}
/* footer */
footer{
  background-color: #061946;
  width: 100%;

}
.footer-list{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-evenly;
  color: white;

}
.footer-card{
  padding: 30px 0;
}
.footer-card h3{
  text-align: center;
  color: #484848;
}
.footer-card li{
  padding: 15px 0;
  text-align: center;
}
.footer-card a{ 
color: #484848;
font-size: 15px;
}
.footer-card a:hover , .footer-card h3:hover{
  border-bottom: 1px solid white;
  color:aliceblue;

}
footer p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 750px) { 
 
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
      font-size: 20px;
      overflow-x: hidden;
  }
 

 
  .line{
      background-color: black;
      max-width: 100%;
      height: 3px;
      margin:0  auto;
      display: none;
    
  }
  .ctn{
      
      max-width: 150px;
      padding: 0.5rem;
      border-radius: 20px;
      left: auto;
     
      font-size: 0.5rem;
      text-align: left;
      transition: .5s;
      
  }
  .ctn:hover{
      transform: scale(1.04);
      font-size: 22px;
  
  }
  
  /* nav */
  
  
  nav{
      position: sticky;
      display:flex;
      justify-content: space-between;
      background-color: aliceblue;
      height: 8vh;
      padding: 0 3%;
  }
  nav h2{
    
      width:auto;
      color:#0b2b70;
      font-size: 1.2rem;
      
  }
  .nav-menu{
      display: none;
  }
  .nav-mobile{
      display: none;
      width: 100%;
      height: 100%;
      background-color:#355ebfde;
      position: absolute;
      z-index: 2;
  
  }
  .visible::before{
    transition: 1s;
  }
  .visible{
    transition: 3s;
      display: block;
  }
  .nav-mobile ul{
      padding: 30% 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      gap: 10%;
  }
  .nav-mobile li a{
      font-size: 1.7rem;

  }
  
  .nav-mobile li a{
    color: aliceblue;
   width: 100%;

  }
  .activo{
    background-color: #061946;
    padding: 2% 5%;
    width: 70%;
    height: auto;
    text-align: center;
    border-radius:10px ;

}
.activo a{
    color: white;
}
  .nav-mobile  .desactivado a{
  color:white
  }
  .mobile-button{
      padding:0;
      margin-right: 3%;
      width: 10%;
      display: block;
      color: black;
      text-decoration: none;
      background-color: transparent;
      border: none;
  }
  .mobile-button img{
    width: 100%;

  }

  /* footer */
  footer{
      background-color: #061946;
      width: 100%;
    display: none;
  }
  .footer-list{
    height: 50vh;
      margin: 0 auto;
     display: grid;
     grid-template-rows: 4fr 4fr 2fr 2fr ;
  }
  .footer-card{
    display: flex;
    flex-direction: column;
    grid-row: 1;
      padding:  0;
      height: 100%;
  }
  #uno{
    grid-row: 1/2;
  }
  #dos{
    grid-row: 2/3;
  }
  #tres{
    grid-row: 3/4;
  }
  #cuatro{
    grid-row: 4/5;
  }
  .footer-card h3{
    display: none;
      text-align: center;
      color: #484848;
    font-size: 1rem;
    }
  .footer-card li{
      padding: 15px 0;
      text-align: center;
  }
  .footer-card a{ 
  color: #484848;
  font-size: 1rem;
  }
  .footer-card a:hover , .footer-card h3:hover{
      border-bottom: 1px solid white;
      color:aliceblue;
  
  }
  footer p{
    height: 5%;
    width: 100%;
      text-align: center;
  }
}